.bar {
  display: inline-block;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  &.ok {
    background: limegreen;
  }
  &.client-error {
    background: orange;
  }
  &.server-error {
    background: red;
  }
}
