<div class="alert alert-danger" role="alert" *ngIf="requestFailed">
  Could not load metrics, you can <a [routerLink]="" (click)="fetchMetrics()">retry</a> it in a bit
</div>
<ul *ngIf="metrics">
  <li>Total number of requests processed: <b>{{ metrics.totalNumberOfRequests }}</b></li>
  <li>Total number of requests resulted in an <span style="color: green">OK</span> response: <b>{{ metrics.numberOfSuccessRequests }}</b></li>
  <li>Total number of requests resulted in a <span style="color: orange">4xx</span> response: <b>{{ metrics.numberOfClientErrorRequests }}</b></li>
  <li>Total number of requests resulted in a <span style="color: red">5xx</span> response: <b>{{ metrics.numberOfServerErrorRequests }}</b></li>
  <li>Average response time of all requests: <b>{{ metrics.averageResponseTime | number }}s</b></li>
  <li>Max response time of all requests: <b>{{ metrics.maxResponseTime | number }}s</b></li>
</ul>
