<div class="card">
  <div class="card-body">
    <h3 class="card-title">Find a price</h3>
    <p class="card-text">
      <app-location-picker [label]="'From'" (picked)="origin$.next($event)"></app-location-picker>
    </p>
    <p class="card-text">
      <app-location-picker [label]="'To'" (picked)="destination$.next($event)"></app-location-picker>
    </p>
    <p class="card-text" *ngIf="!searching && fare">
      From {{ fare.origin.name }} to {{ fare.destination.name }} for <b>{{ fare.amount | currency:fare.currency }}</b>
    </p>
    <img src="/assets/images/flight-loader-dribbble.gif" class="card-img-bottom" *ngIf="searching"/>
  </div>
</div>
