<div class="form-group">
  <label for="typeahead-http">{{label}}</label>
  <input id="typeahead-http" type="text" class="form-control"
         [class.is-invalid]="searchFailed"
         [(ngModel)]="model"
         [ngbTypeahead]="search"
         [inputFormatter]="formatter"
         [resultFormatter]="formatter"
         placeholder="Airport"
         [editable]='false'
         (selectItem)="onItemSelected($event)"/>
  <span *ngIf="searching">Searching...</span>
  <div class="invalid-feedback" *ngIf="searchFailed">Sorry, we couldn't find anything</div>
</div>
